@use "abstracts";

//index page
.container {
    @include abstracts.grid(90%, 1);

    a {
        color: abstracts.$black;
        margin-left: 2em;
    }
}

//message-box
#delete-message {
    @include abstracts.textBox(18rem, 0.8rem 1rem, 1rem auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;
    text-align: center;
    position: fixed;
    top: 7rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;

    p {
        font-size: 1em;
        color: rgb(0, 49, 0);
    }

    button {
        @include abstracts.button(abstracts.$white, abstracts.$header-color, 100%, 2rem, 0 auto, 100%, center, 0.8rem, false);

        &:hover {
            background-color: abstracts.$white;
            font-weight: bold;
        }
    }
}

#delete-message.hidden {
    display: none;
}

.experience-item {
    @include abstracts.textBox(90%, 1rem 1.5rem, 1rem auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;

    p {
        margin-bottom: 0.3rem;
    }
}

.button-container {
    margin: 1rem auto 0.5rem;
    text-align: center;
}

.delete-button {
    @include abstracts.button(abstracts.$header-color, abstracts.$light-text, 60%, 2.5rem, 0 auto, 100%, center, 1rem, false);
}


form {
    margin: 1rem auto 2rem;
    max-width: 90%;
    padding-bottom: 1rem;


    input[type="text"],
    input[type="url"],
    input[type="date"],
    textarea,
    select,
    .submit-btn {
        height: 2rem;
        padding: 1rem;
        margin: 0.5rem auto 1rem;
        border: 1px solid abstracts.$shadow;
    }

    select:hover {
        cursor: pointer;
    }

    input[type="text"],
    input[type="url"],
    textarea {
        width: 100%;
    }

    textarea {
        height: 8rem;
    }

    select {
        margin-left: 0;
    }

    label {
        text-align: left;
    }

    .btn-row {
        text-align: center;
    }

    .submit-btn {
        @include abstracts.button(abstracts.$header-color, abstracts.$light-text, 70%, 3rem, 0 auto, 100%, center, 1rem, false);
    }
}

.warning {
    color: red;
    text-align: center;
    transform: translateY(-1.6rem);
}

.add-message {
    @include abstracts.textBox(200px, 0, 0 auto);
    text-align: center;
    display: none;
 
    p, a {
        font-size: 0.9em;
        color: rgb(0, 49, 0);
    }
 }

 .add-message.visible {
    display: block;
 }

.about {
    @include abstracts.textBox(90%, 1rem 1.5rem, 1rem auto, 0px 0px 8px 0px abstracts.$shadow, 1px solid abstracts.$shadow);
    background-color: abstracts.$white;
}